#home-main-div{
    position: relative;
}
.parallax { 
    /* The image used */
    background-image: url("https://photos-6.dropbox.com/t/2/AACWbWfrDIcT8q08SL2437kLhrdFZfxUqQw7v02V-dqFyQ/12/397638173/jpeg/32x32/1/_/1/2/thumb-1920-695933%20(2).jpg/EPzkoZYDGKQEIAIoAg/8TO8yijGBIjOjlzszjmezPn1JDF-LWml6EymQoRq8lM?size=2048x1536&size_mode=3");

    /* Set a specific height */
    height: 50vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-blur-code{
    max-width: 100%;
    max-height: 100%;
    height: 50vw;
    width: 100vw;
}
#navbar-div{
    position: absolute;
    margin-top: 1vw;
    position: fixed;
    background-color: transparent !important;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    max-width: 100%; /* Full width */
    max-height: 100%;
    z-index: 999999 !important;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color:  #94A3BA;
    text-align: center;
    transition: 1s;
    margin-top: 2vw;
    margin-left: 3vw;
    padding: 1vw 1vw;
    text-decoration: none;

}
/* change the moment you click */
.navbar a :active{
    color: white;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background:transparent;
    color: #B1DED3;
    text-decoration: none;
    animation: ease-out;
    transform: scale(1.5);
}

/* Main content */
.main {
    margin-top: 30vw; /* Add a top margin to avoid content overlay */
}
.navbar-font{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}
.navbar-fixed-top.scrolled {
    background-color: #2E4975 !important;
    transition: background-color 200ms linear;
  }
.heading-div-name{
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 18vw;
    margin-left: 23vw;
    font-size: 6vw;
}
.heading-div-under{
    position: absolute;
    text-align: center;
    color: #94A3BA;
    font-family: 'Source Code Pro', monospace;
    padding-top: 1vw;
    font-size: 3vw;
    margin-top: 27vw;
    margin-left: 25vw;
}

#me-img-div{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin-left: 20vw;
    height: 5vw;
    width: 25vw;
}
#me-img{
    border-radius: 50%;
    margin-left: 19vw;
    margin-top: 38vw;
    height: 23vw;
    width: 23vw;
    border: 0.7vw solid #EDEFF5;
    
}
#about-main-div{
    background-color: #EDEFF5;
    padding-top: 25vw;
    padding-bottom: 5vw;
}
#about-me-parent-div{
    position: relative;
}
.about-me-head{
    padding-top: 2vw;
    margin-top: -10vw;
    margin-right: 70vw;
    font-size: 3vw;
    font-weight: 500;
    font-family:  'Montserrat', sans-serif;
    margin-left: 10vw;
    text-decoration: none;
}
.underline-div{
    border-bottom: 0.6vw solid #28DEB1;
    width: 4vw;
    margin-left: 11vw; 
}
.about-me-text{
    margin-left: 10vw;
    margin-top: 5vw;
    margin-right: 60vw;
}
.p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw
}
.p2{
    padding-top: 2vw;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
}
.button-div{
    margin-top: 5vw;
}
.button {

    height: 3vw;
    width: 30vw;
    border-style: solid;
    text-align: center;
    transition: 1s;
    background-color: transparent;
    border-color: #2E4975;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
}
.button a {
    background-color: transparent;
    border-color: #2E4975;
    color: #2E4975;
}
.button a:visited{
    background-color: white;
    border-color: #28DEB1;
    color: #28DEB1;
}
.button a :hover{
    background: white !important;
    border-color: #28DEB1 !important;
    color: #28DEB1 !important;
    transition: back
}
#skills-div{ 
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30vw;
    margin-top: 0.6vw;
}
#skills-text{
    font-size: 3vw;
    font-weight: 500;
    font-family:  'Montserrat', sans-serif;
    text-decoration: none;
}
.main-underline-div{
    max-width: 100%;
    max-height: 100%;
    margin-right: 40vw;
}
.underline-div-2{
    max-width: 100%;
    max-height: 100%;
    margin-left: 40.5vw;
    margin-right: 20vw;
    padding-right: 39vw;
    border-bottom: 0.6vw solid #2E4975;
}
.main-logo-div{
    
}
#java-logo{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 75vw;
    margin-right: 35vw;
    height: 12vw;
    width: 7vw;
}

#c-sharp{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 76vw;
    margin-right: 19vw;
    height: 10vw;
    width: 10vw;
}
#sql{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 76vw;
    margin-right: 2vw;
    height: 10vw;
    width: 17vw;
}
#html{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 95vw;
    margin-right: 31vw;
    height: 12vw;
    width: 14vw;
}
#css{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 95vw;
    margin-right: 18vw;
    height: 12vw;
    width: 10vw;
}
#JavaScript{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 97vw;
    margin-right: 4vw;
    height: 10vw;
    width: 10vw;
}
#projects-main-div{
    position: relative;
}
.parallax-project{
        /* The image used */
        background-image: url("https://photos-3.dropbox.com/t/2/AACxt77cwyXNuHnYaXbA98tDpHnzKaAiDqLFHw1qLmK6yA/12/397638173/jpeg/32x32/1/_/1/2/black-and-white-blur-gray-34088.jpg/EPzkoZYDGM8KIAIoAg/126bTVfgPUjo5g-SZaCK93ekrXpyIncf2pquezhRvqM?size=2048x1536&size_mode=3");

        /* Set a specific height */
        height: 50vw; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
#projects-text{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    margin-top: 5vw;
    margin-left: 5vw;
}
.underline-div-3{
    padding-top: 9vw;
    border-bottom: 0.6vw solid white;
    margin-right: 85vw;
    margin-left: 5vw;
}
#coming-soon-div{
    margin-top: 10vw;
    max-width: 100%;
    max-height: 100%;
}
#coming-soon1{
    position: absolute;
    top: 0;
    left: 0;
    height: 20vw;
    width: 28vw;
    margin-top: 20vw;
    margin-left: 6vw;
}
#coming-soon2{
    position: absolute;
    top: 0;
    left: 0;
    height: 20vw;
    width: 28vw;
    margin-top: 20vw;
    margin-left: 34vw;
}
#coming-soon3{
    position: absolute;
    top: 0;
    left: 0;
    height: 20vw;
    width: 28vw;
    margin-top: 20vw;
    margin-left: 62vw;
}
#contact-main-div{
    position: relative;
}
#short-info{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2E4975;
    width: 50vw;
    height: 35vw;
    z-index: 99999;
}
#contact-email{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #28DEB1;
    width: 50vw;
    height: 35vw;
    z-index: 99999;
}
#quick-id{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: white;
    margin-top: 5vw;
}
#underline-div-4{
    border-bottom: 0.6vw solid white;
    width: 9vw;
    margin-left: 18vw;
}
#phone{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2vw;
    color: white;
    margin-left: 16.5vw;
    margin-top: 3vw;
}
#email{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2vw;
    color: white;
    margin-left: 16.5vw;
}
#address{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2vw;
    color: white;
    margin-left: 16.5vw;    
}
#Website{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2vw;
    color: white;
    margin-left: 16.5vw; 
}
#contact-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: #2E4975;
    margin-top: 5vw;
}
#underline-div-5{
    border-bottom: 0.6vw solid #2E4975;
    width: 9vw;
    margin-left: 15vw;
}
#input-contact-div{

}
#input-name{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0;
    border-style: solid !important;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border-color: #28DEB1;
    border-bottom: solid #2E4975;
    font-size: 1vw;
    color: #2E4975;
}
#input-email{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border-color: #28DEB1;
    border-bottom: solid #2E4975;
    font-size: 1vw;
    color: #2E4975;
}
#input-message{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border-color: #28DEB1;
    border-bottom: solid #2E4975;
    font-size: 1vw;
    color: #2E4975
}
#input-submit{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0;    
    border: none;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    font-size: 1vw;
    color: #2E4975
}

#mail-form{
    margin-top: 1vw;
    margin-left: 3vw;
    width: 40vw;
    height: 15vw;
}
.last-main-div{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #EDEFF5;
    height: 28vw !important;
    margin-top: 20vw;
}
#last-button{
    height: 3vw;
    width: 30vw;
    border-style: solid;
    text-align: center;
    transition: 1s;
    background-color: transparent;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 0.9vw;
    margin-top: 20vw;
    margin-left: 19vw;
}
#copyright{
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 2vw;
    margin-left: 19vw;
    font-size: 1vw;
}
#facebook{
    position: absolute;
    margin-left: 60vw;
    margin-top: -7vw;
    height: 3vw;
    width: 3vw;
}
#twitter{
    position: absolute;
    margin-left: 65vw;
    margin-top: -7vw;
    height: 3vw;
    width: 3vw;
}
#linkedin{
    position: absolute;
    margin-left: 70vw;
    margin-top: -7vw;
    height: 3vw;
    width: 3vw;
}
#google{
    position: absolute;
    margin-left: 75vw;
    margin-top: -7vw;
    height: 3vw;
    width: 3vw;
}
#follow{
    font-size: 1vw;
    margin-left: 60vw;
    margin-top: -2vw;
    font-family: 'Montserrat',sans-serif;
}